body {
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    border-radius: 10px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    width: 750px;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    width: 100%;
}
.input-group {
    display: flex;
    flex-direction: column;
    width: 43%; 
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
   
}


button {
    display: block;
    margin: 20px auto;
    background-color: #31bea7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 75%;
    
}

button:hover {
    background-color: #48acac;
}